{
    "require": [
        "babel-register"
    ],
    "include": [
        "src/**/*.js"
    ],
    "exclude": [
        "src/easing.js",
        "src/index.js"
    ],
    "sourceMap": false,
    "instrument": false
}